{% extends "league/base.html" %}
{% load static %}

{% block body_block %}
<div class="container-fluid" style="padding: 0px;">
<div class="jumbotron jumbotron-flex">

    <h1 class="display-4">Dyno Le4gue</h1>
    <p class="lead">The champ is here!</p>
    <hr style="border-color: #FCA311;">
    <p>As always, read the email. And that email is here. Take a look at current rosters, draft picks, league rules, and past league history.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" id="email-btn" href="{% url 'rules' %}" role="button"><b>The Email</b></a>
    </p>

</div>
<div class="container-flex" style="padding-right: 12%; padding-left: 12%;">
<div class="row newrow">
  {% for date in dates %}
  <div class="col-md-4">
    <div class="date-box">
      <span><b>{{ date.name }}</b></span>
      <h4>{{date.date|timeuntil }}</h4>
      <hr style="border-color: #FCA311; width: 80%;">
      
      <span>Date: {{date.date}}</span>
    </div>
  </div>
  {% endfor %}
</div>
  <div class="row justify-content-md-center">
    <div class="col-md">
      <div class="boxy">
      <h3 style="text-align: center; font-weight: 600;">Rule Change Proposals</h3>
      <hr style="border-color: #14213D; width: 90%;">
      <div style="padding: .5% 1.5%;">
        <p>Rules changes will be voted on May 8, 2020. If the proposal receives 7 votes, the rule change will go into effect for the 2022 Season. If the vote is unanimous, the rule change will go into effect this season. </p>
      </div>
      
      <table class="table table-striped table-hover">
        <tbody>
          {% for rule in props %}
          <tr>
            <td scope="row">{{rule.name}}</td>
            <td scope="row" style="text-align: left;">{{rule.proposal}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="boxy">
        <h3 style="text-align: center; font-weight: 600;">League Standings</h3>
        <hr style="border-color: #14213D; width: 90%;">
        <table class="table table-striped table-hover"
          id="table"
          data-toggle="table"
          data-show-columns="true">
          <thead class="thead-custom">
            <tr>
              <th scope="col" data-sortable="true">Owner</th>
              <th scope="col" data-sortable="true">2017</th>
              <th scope="col" data-sortable="true">2018</th>
              <th scope="col" data-sortable="true">2019</th>
              <th scope="col" data-sortable="true">Average</th>
            </tr>
          </thead>
          <tbody>
            {% for o in owners %}
            <tr>
              <td scope="row">{{ o.owner_name }}</td>
              {% for year in o.history.all %}
              <td scope="row">{{ year.place }}</td>
              {% endfor %}
              <td scope="row">{{ o.avg_place|floatformat }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>

</div>
</div>
  {% endblock %}