{% extends "league/base.html" %}

{% block body_block %}
  <div class="container-fluid text-center">
    <div class="row justify-content-center align-items-center">
        {% if owners %}
        {% for owner in owners %}
        <div class="col-xl-4">
        <div class="table-responsive boxy weekly">
        <h3>{{ owner.owner_name }}</h3>
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-light">
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Team</th>
                <th scope="col">Age</th>
                <th scope="col">Years in League</th>
            </tr>
            </thead>
            <tbody>
            {% for player in owner.assets.players.all %}
            {% if player.position == 'QB' %}
            <tr class="table-success">
            {% elif player.position == 'WR' %}
            <tr class="table-primary">
            {% elif player.position == 'RB' %}
            <tr class="table-warning">
            {% elif player.position == 'K' %}
            <tr class="table-light">
            {% elif player.position == 'TE' %}
            <tr class="table-danger">
            {% endif %}
                <td scope="row">{{ player.name }}</td>
                <td scope="row">{{ player.position }}</td>
                <td scope="row">{{ player.team }}</td>
                <td scope="row">{{ player.age }}</td>
                <td scope="row">{{ player.tenure }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-light">
            <h3>Draft Picks</h3>
            <tr>

                <th scope="col">Year</th>
                <th scope="col">Round</th>
                <th scope="col">Pick</th>
            </tr>
            {% for pick in owner.assets.picks.all %}
            <tr>
                <td scope="row">{{ pick.year }}</td>
                <td scope="row">{{ pick.round }}</td>
                <td scope="row">{{ pick.pick }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
            </div>
            {% endfor %}
            {% endif %}
            </div>
            </div>

{% endblock %}